#main-panel {
    display: inline-block;
    width: 100%;
}

#form-panel {
    background: whitesmoke;
    border: 1px #c3c3c3 solid;
    width: 46%;
    /*height: auto;*/
    min-height: 200px;
    float: left;
    margin: 0 15px 0 15px;
    padding: 0px 30px 20px 30px;
    transition: height 1s ease;
}

#options-panel {
    width: 50%;
    height: 100%;
    float: left;
}

#buttons {
    width: auto;
    display: block;
}

.button-column {
    height: auto;
    margin: 0;
}

.button-column li {
    width: 240px;
    height: 40px;
    background: #f6f6f6;
    border: 1px solid #d5d5d5;
    border-radius: .1875rem;
    text-align: center;
    margin: 10px 0;
}

.button-column li:hover {
    border: 1px solid #c0c0c0;
}

.button-column li a {
    color: #676f74 !important;
    display: block;
    height: 100%;
    line-height: 2.3;
}

.button-column li a:hover {
    color: #515151 !important;
}

.empty {
    display: none;
}

.options {
    display: none;
    outline: 1px #c3c3c3 solid;
    padding: 30px;
    margin: 40px;
    background: whitesmoke;
}

.open-editPanel {
    padding: 10px;
    margin: 20px 0;
}

.open-editPanel:hover {
    outline: 1px solid #d4d4d4;
    cursor: pointer;

}
.open-editPanel input, .open-editPanel select{
    width: 70% !important;
}
.open-editPanel input[type=radio], .open-editPanel input[type=checkbox]{
    width: auto !important;
}
.label-title{
    color: #676f74 !important;
    display: inline;
}

.star {
    display: none;
    float: left;
    margin: 10px;
}

.choices-panel {
    width: 200px;
}
#main-panel ul{
    list-style: none;
}
.multipleChoice{
    margin: 0;
}

.checkboxList{
    margin: 0;
}

.save-form {
    display: none;
    transition: all 2s linear;
}
.remove-formPanel{
    display: none;
}
.form-target{
    display: none;
}
#form-selector{
    width: 30%;
    display: inline;
    -webkit-appearance: menulist;
}
#form-list{
    margin: 20px;
}
.save-form{
width: 100px;
    margin-left: 40px;

}
