#main-panel {
    display: inline-block;
    width: 100%;
}

#form-panel {
    background: whitesmoke;
    border: 1px #c3c3c3 solid;
    width: 46%;
    /*height: auto;*/
    min-height: 200px;
    float: left;
    margin: 0 15px 0 15px;
    padding: 0px 30px 20px 30px;
    transition: height 1s ease;
}

#options-panel {
    width: 50%;
    height: 100%;
    float: left;
}

#buttons {
    width: auto;
    display: block;
}

.button-column {
    height: auto;
    margin: 0;
}

@-webkit-keyframes demo {
    0% {
        box-shadow: 0px 0px 10px 1px  whitesmoke;
    }
    10% {
        box-shadow: 0px 0px 10px 2px  #eaffde;
    }
    20% {
        box-shadow: 0px 0px 10px 4px  #ccffc3;
    }
    30% {
        box-shadow: 0px 0px 10px 5px  #a8ffa0;
    }
    40% {
        box-shadow: 0px 0px 10px 6px  #8bff7b;
    }
    50% {
        box-shadow: 0px 0px 10px 6px  #a1ff91;
    }
    60% {
        box-shadow: 0px 0px 10px 5px  #b6ffab;
    }
    70% {
        box-shadow: 0px 0px 10px 4px  #d1ffc8;
    }
    80% {
        box-shadow: 0px 0px 10px 2px  #dfffdb;
    }
    90% {
        box-shadow: 0px 0px 10px 1px  #e5f3e0;
    }
    100% {
        box-shadow: 0px 0px 10px 1px  whitesmoke;
    }
}

.demo {
    -webkit-animation-name: demo;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.button-column li {
    width: 240px;
    height: 40px;
    background: #f6f6f6;
    border: 1px solid #d5d5d5;
    border-radius: .1875rem;
    text-align: center;
    margin: 10px 0;
}

.button-column li:hover {
    border: 1px solid #c0c0c0;
}

.button-column li a {
    text-align: left;
    color: #676f74 !important;
    display: block;
    height: 100%;
    line-height: 2.3;
}

.button-column li a:hover {
    color: #515151 !important;
}

.empty {
    display: none;
}

.options {
    display: none;
    position: fixed;
    left: 30%;
    top: 25%;
    right: auto;
    outline: 1px #c3c3c3 solid;
    padding: 30px;
    margin:  0 40px 40px 40px;
    background: whitesmoke;
    width: 35%;
    z-index: 6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
#field-back{
    position: fixed;
    width: 100%;
    background: rgba(43,46,56,0.9);
    height: 100%;
    opacity: 0.8;
    top: 0;
    z-index: 5;
    left: 0;
    display: none;

}

.button-img{
    float: left;
}

.open-editPanel {
    padding: 10px;
    margin: 20px 0;
}

.open-editPanel:hover {
    outline: 1px dashed #d4d4d4;
    cursor: pointer;

}
.open-editPanel input, .open-editPanel select{
    width: 70% !important;
}
.open-editPanel input[type=radio], .open-editPanel input[type=checkbox]{
    width: auto !important;
}
.label-title{
    color: #676f74 !important;
    display: inline;
}

.star {
    display: none;
    float: left;
    margin: 10px;
}

.choices-panel {
    width: 200px;
}
#main-panel ul{
    list-style: none;
}
.multipleChoice{
    margin: 0;
}

.checkboxList{
    margin: 0;
}

.save-form {
    background: #0090D9;
    cursor: pointer;
    color: rgba(255,255,255,0.85);
    display: none;
    width: 100px;
    margin-left: 40px;
    padding: 0.5rem 0.4rem;
}
.remove-formPanel{
    display: none;
    float: right;
    margin-left: 6px;
    height: 18px;
}
.open-editPanel:hover > .remove-formPanel{
    display: block;
}
.remove-img{
    width: 18px;
    vertical-align: top;
}
.form-target{
    display: none;
}
#form-selector{
    width: 30%;
    display: inline;
    -webkit-appearance: menulist;
}
.title-bar{
    cursor: pointer;
}
.title-bar img{
    width: 15px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
}
#form-list{
    margin: 20px;
}
#form-list button{
    border: 1px solid #d5d5d5;
    vertical-align: top;
    padding: 5px 7px 4px 7px;
}
.sortable-img{
    width: 16px;
    float: right;
    position: relative;
}
.edit-img{
    width: 16px;
    float: right;
    margin-right: 3px;

}
.choices-list{
    margin: 0;
}
.choices-list input{
    display: inline;
    width: 80% !important;
    margin-bottom: 20px;
}
.options fieldset{
    border: 1px #c3c3c3 solid;
    overflow-y: auto;
    max-height: 466px;
}
.add-img{
    width: 30px;
}
.minus-img{
    vertical-align:middle;
    width: 20px;
    margin-left: 6px;
}

@media screen and (max-width: 896px) {
    #options-panel {
        width: 100%;
    }
    #form-selector{
        width: 100%;
        margin-bottom: 10px;
    }
    #form-panel {
        width: 93%;
    }
    .options{
        left: 0;
        margin: 0 0 0 10px;
        width: 93%;
        top: 16%;
    }
    .remove-formPanel{
        display: block;
    }
    .open-editPanel{
        outline: rgb(212, 212, 212) dashed 1px;
    }
}